
<div class="container">
  <div class="header">
    <h1>DNB Girls</h1>


  </div>
  <div class="content">
    <div class="about">
      <p> Drum and Bass Girls is a collective of talented female artists, producers, song writers, singers, and DJs. From hosting radio shows, promoting events, and touring the world these girls deserve due respect for their extensive work and on-going enthusiasm for what they do. The love of Drum and Bass is what unites this group of talented women, but the DnB Girls don't stop there! Our artists aren't afraid to express creativity or diversity as they also showcase many other broken beat forms of Bass Heavy Music! </p>

      <p>Stay tuned to dnbgirls.net as we go through a full site redesign, with lots of updated and new content!</p>

      <p>In the meantime you can check us out on the following social media formats:</p>

      <ul>
        <li><a href="https://www.facebook.com/drumandbassgirls" target="_blank">Facebook</a></li>
        <li><a href="http://www.ustream.tv/channel/drum-bass-girls-of-Canada" target="_blank">Ustream Live Radio Show!</a></li>
        <li><a href="https://twitter.com/dnbgirls" target="_blank">Twitter</a></li>
        <li><a href="http://dnbgirls.tumblr.com/" target="_blank">Tumblr</a></li>
      </ul>
    </div>
    <div class="profile">
      <img src="images/jfkillah.jpg" height="250" width="250">
      <p><strong>J.F. Killah</strong></p>
      <p><a href="https://soundcloud.com/jfkillah" target="_blank">Soundcloud</a></p>
      <p><a href="https://www.facebook.com/jfkillah" target="_blank">Facebook</a></p>
    </div>
    <div class="profile">
      <img src="images/distinct.jpg" height="250" width="250">
      <p><strong>Distinct</strong></p>
      <p><a href="https://soundcloud.com/dj-distinct" target="_blank">Soundcloud</a></p>
      <p><a href="https://www.facebook.com/DistinctDnB" target="_blank">Facebook</a></p>
    </div>
    <div class="profile">
      <img src="images/jams.jpg" height="250" width="250">
      <p><strong>Jams</strong></p>
      <p><a href="https://soundcloud.com/jams-1" target="_blank">Soundcloud</a></p>
      <p><a href="https://www.facebook.com/BassJellyJams" target="_blank">Facebook</a></p>
    </div>
    <div class="profile">
      <img src="images/bulletprooftiger.jpg" height="250" width="250">
      <p><strong>Bulletproof Tiger</strong></p>
      <p><a href="http://www.alannablair.com/tgr/" target="_blank">www.TGRdnb.com</a></p>
      <p><a href="https://soundcloud.com/tgrdnb" target="_blank">Soundcloud</a></p>
      <p><a href="https://www.facebook.com/TGRdnb" target="_blank">Facebook</a></p>
    </div>

    <div class="profile">
      <img src="images/crystalfresh.jpg" height="250" width="250">
      <p><strong>Crystal Fresh</strong></p>
      <p><a href="http://www.djcrystalfresh.com/" target="_blank">www.djcrystalfresh.com</a></p>
      <p><a href="https://soundcloud.com/dj-crystal-fresh" target="_blank">Soundcloud</a></p>
      <p><a href="https://www.facebook.com/djcrystalfresh" target="_blank">Facebook</a></p>
    </div>
    <div class="profile">
      <img src="images/ella_grave.jpg" height="250" width="250">
      <p><strong>Ella Grave</strong></p>
      <p><a href="http://www.beatfreakzrecords.com" target="_blank">www.beatfreakzrecords.com</a></p>
      <p><a href="https://soundcloud.com/beatfreakzrecords" target="_blank">Soundcloud</a></p>
      <p><a href="https://www.facebook.com/ella.grave" target="_blank">Facebook</a></p>
    </div>
    <div class="profile">
      <img src="images/mizeyesis.jpg" height="250" width="250">
      <p><strong>Mizeyesis</strong></p>
      <p><a href="http://www.mizeyesis.com/" target="_blank">www.mizeyesis.com</a></p>
      <p><a href="https://soundcloud.com/mizeyesis" target="_blank">Soundcloud</a></p>
      <p><a href="https://www.facebook.com/MizeyesisDJOfficial" target="_blank">Facebook</a></p>
    </div>
    <div class="profile">
      <img src="images/iris.jpg" height="250" width="250">
      <p><strong>Iris</strong></p>
      <p><a href="http://irisdnb.com/" target="_blank">irisdnb.com</a></p>
      <p><a href="https://soundcloud.com/iris" target="_blank">Soundcloud</a></p>
      <p><a href="https://www.facebook.com/irisdnb" target="_blank">Facebook</a></p>
    </div>
    <div class="profile">
      <img src="images/mittz.jpg" height="250" width="250">
      <p><strong>Mittz</strong></p>
      <p><a href="https://soundcloud.com/mittz-1" target="_blank">Soundcloud</a></p>
      <p><a href="https://www.facebook.com/Mittzbiz" target="_blank">Facebook</a></p>
    </div>

  </div>
</div>